@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;

#app {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: $background-color;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1,
h2 {
  font-size: 40px;
  line-height: 40px;
}
p,
label {
  font-size: 16px;
  line-height: 26px;
}
